<!DOCTYPE html>
<html>
  <head>
    <title>LibMem</title>
    <link rel="stylesheet" type="text/css" href="assets/css/index.css" />
  </head>
  <body>
    <section id="todoapp">
      <header id="header">
        <h1>todos</h1>
        <input id="new-todo" placeholder="What needs to be done?" autofocus>
      </header>
      <section id="main">
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list"></ul>
      </section>
      <footer id="footer"></footer>
    </section>
    <div id="info">
      <p>Double-click to edit a todo</p>
      <p>Written by <a href="https//github.com/akshayiyer12">Akshay Iyer</a></p>
      <p>Part of <a href="http://todomvc.com">TodoMVC</p>
    </div>
    <script type="text/template" id="item-template">
      <div class="view">
        <input class="toggle" type="checkbox" <%= completed ? 'checked': '' %>>
        <label><%= title %></label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="<%= title %>">
    </script>
    <script type="text/template" id="stats-template">
      <span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
      <ul id="filters">
        <li>
          <a class="selected" href="#/">All</a>
        </li>
        <li>
          <a href="#/active">Active</a>
        </li>
        <li>
          <a href="#/completed">Completed</a>
        </li>
      </ul>
      <% if (completed) { %>
      <button id="clear-completed">Clear completed (<%= completed %>)</button>
      <% } %>
    </script>
    <script src="assets/js/lib/jquery-3.3.1.min.js"></script>
    <script src="assets/js/lib/backbone.js"></script>
    <script src="assets/js/lib/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
    <script src="assets/js/models/todo.js"></script>
    <script src="assets/js/collections/todos.js"></script>
    <script src="assets/js/views/todos.js"></script>
    <script src="assets/js/views/app.js"></script>
    <script src="assets/js/routers/router.js"></script>
    <script src="assets/js/app.js">
  </body>
</html>
